astroid==2.9.3
beautifulsoup4==4.10.0
black==22.1.0
click==8.0.4
decorator==5.1.1
fake-useragent==0.1.11
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
pylint==2.12.2
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
validators==0.18.2
wrapt==1.13.3
